<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <!-- Libs CSS -->
    <link type="text/css" rel="stylesheet" href="<%= BASE_URL %>fonts/feather/feather.css" />
    <link type="text/css" rel="stylesheet" href="<%= BASE_URL %>libs/flatpickr/dist/flatpickr.min.css" />
    <link type="text/css" rel="stylesheet" href="<%= BASE_URL %>libs/quill/dist/quill.core.css" />
    <link type="text/css" rel="stylesheet" href="<%= BASE_URL %>libs/highlightjs/styles/vs2015.css" />

    <!-- Map -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" rel="stylesheet" />

    <!-- Theme CSS -->
    <link type="text/css" rel="stylesheet" href="<%= BASE_URL %>css/theme.min.css" id="stylesheetLight">
    <link type="text/css" rel="stylesheet" href="<%= BASE_URL %>css/theme-dark.min.css" id="stylesheetDark">

    <style>
      body {
        display: none;
      }

    </style>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156446909-1"></script><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag("js", new Date());gtag("config", "UA-156446909-1");</script>

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
    </div>
    <!-- built files will be auto injected -->
    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
    <script src="<%= BASE_URL %>libs/jquery/dist/jquery.min.js"></script>
    <script src="<%= BASE_URL %>libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="<%= BASE_URL %>libs/%40shopify/draggable/lib/es5/draggable.bundle.legacy.js"></script>
    <script src="<%= BASE_URL %>libs/autosize/dist/autosize.min.js"></script>
    <script src="<%= BASE_URL %>libs/chart.js/dist/Chart.min.js"></script>
    <script src="<%= BASE_URL %>libs/dropzone/dist/min/dropzone.min.js"></script>
    <script src="<%= BASE_URL %>libs/flatpickr/dist/flatpickr.min.js"></script>
    <script src="<%= BASE_URL %>libs/highlightjs/highlight.pack.min.js"></script>
    <script src="<%= BASE_URL %>libs/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="<%= BASE_URL %>libs/list.js/dist/list.min.js"></script>
    <script src="<%= BASE_URL %>libs/quill/dist/quill.min.js"></script>
    <script src="<%= BASE_URL %>libs/select2/dist/js/select2.full.min.js"></script>
    <script src="<%= BASE_URL %>libs/chart.js/Chart.extension.js"></script>

    <!-- Map -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

    <!-- Theme JS -->
    <script src="<%= BASE_URL %>js/theme.min.js"></script>
    <script src="<%= BASE_URL %>js/dashkit.min.js"></script>
  </body>
</html>
